node_modules
.next
.git
.env
.env.local
.env*.local
README.md
.gitignore
/data
/prisma/data
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
TODO.md
.DS_Store
.vscode
.idea
*.swp
*.swo
*~
coverage
.vercel
